<div id="res_abt">
  <div style="text-align: center; !important">
    <h1 style="padding: 1% 0% 1% 0%;">ABOUT</h1>
    <hr style="width: 33%; text-align: center; !important">
    <p><a href="/about#about">About the Project</a> | <a href="/about#roadmap">Development Roadmap</a> | <a href="/about#funding">Funding</a> | <a href="/about#contact">Contact</a> | <a href="/about#sources">Data Sources</a> | <a href="/about#disclaimer">Disclaimer</a></p>
  </div>
  </br>
  </br>
    <h4 id="about">ABOUT THIS PROJECT</h4>
    </br>
    <p><strong>Purpose</strong></br>
      Have you ever wondered just where your money goes after it gets taken out by taxes? Or how much of your money gets allocated to various governmental departments that you may or may not support?</br></br>
      So did we. A long barroom debate one evening about how much of our money was going to specific departments revealed that most of us have no idea what happens to our money after we pay our taxes. Much less how much of that money ends up at the various governmental departments and initiatives. Eventually our curiosity to find out (and several more happy hours of heated debate) turned into this project. An open, non-partisan, and unbiased window into the budgetary process of the government and an answer to: "Just where <em>does</em> my money go?"</br></br>
      A few months and lots of sleuthing later, this site was born.</p>
      </br>
    <p><strong>Methodology</strong></p>
    <p>We scoured the enacted and proposed governmental budgets from the federal level down to the state level, and turned that data into code that we could work with. At this point it is just raw numbers that represent each line item in the proposed and enacted budgets, and that line item's percentage of the total (ie, Department X was given $XXX, and $XXX represents 10% of the total budget).</br></br> Then when you (the user) fill out the form on the home page, we use the current tax brackets to determine a rough idea of what you might owe as your total annual tax obligation. We acknowledge that this number isn't going to be completely accurate (please don't calculate your tax payments with this number, see the <a href="/about#disclaimer">disclaimer</a> for the full legals on this), but it's close enough to give a rough idea of your tax obligation for the next step. </br></br>Once we have that number, we are able to then apply all the percentages that we calculated in the first step to your total tax obligation and we are left with the proportion of your taxes that go to each individual line item in the budget which is displayed in the nice table you see on the results page. For example: if you owe $10,000 in annual taxes, and Department X gets 10% of the total governmental budget, then $1,000 of your tax money went to Department X.
    </p>
  </br>
  </br>
    <h4 id="roadmap">DEVELOPMENT ROADMAP</h4>
    <p>Borrowing from the 'Open Startup' concept of sharing the journey with our users, we decided to be transparent about where we are and where we intend to go in the future. So just where <em>are</em> we headed with 'Where Do My Taxes Go?', and what can you expect from this site in the future? </br></br>With the initial release of this site, we have a fully functioning application that calculates how a user's tax obligation is allocated at the federal level using the proposed federal budget for 2019.</br></br>Planned Future Development:</br></br>
      <ul style="padding-left: 10%;">
        <li>Add state-level budget data</li>
        <li>Add Congressional compensation data</li>
        <li>Compare breakdowns in enacted budgets vs proposed budgets</li>
        <li>Increase the accuracy of total tax obligation calculations</li>
        <li>Refactor codebase & update CSS</li>
        <li>Create a logo & favicon</li>
        <li>Add a public page to show total donations collected to operate the site</li>
        <li>Add a custom amount option to donate page</li>
        <li>Make site fully-mobile</li>
        <li>Add voting tool to let users vote for future functions to be added</li>
        <li>Add additional countries</li>
      </ul>
      </br>
      <p>Have a good idea for something to add to the site? </br><a href="mailto:info@wheredomytaxesgo.co">Request a feature</a> for us to add to the roadmap!</p>
    </br>
    </br>
    <h4 id="funding">FUNDING</h4>
    <p>Continuing with the transparency theme, we thought we'd share just exactly how our operating costs break down and where your money goes should you choose to donate anything to help <a href="/support">support</a> the project.</br></br>At this time, we have two main costs: Our servers that keep the site online, and our domain name registration. Since this site is run entirely in the spirit of civil engagement by volunteers, there are no other major costs to keep the site running at this time. If that changes, we'll let you know here.</br></br>So just how much does it cost to operate the site?</p>
    </br>
      <ul style="padding-left: 10%;">
        <li>Heroku Server: $7/month</li>
        <li>Domain Registration: $24/year</li>
        <li>Cloudflare DDoS Protection & SSL Certificate: $0</li>
        <li>Stripe Transaction Fees: $0.30 + 2.9% of any amount donated on all transactions</li>
        <li>Taxes: ~30% of any donations since we're not currently a non-profit entity (Oh, the irony...)</li>
      </ul>
      </br>
    <p>Total: $108/year, or about $9/month.</p>
    </br>
    <p>For the cost of about two coffees each month we are able to keep the site running to help increase transparency in the governmental budgetary process. If you think this site has been helpful and would like to help keep it online for more people to enjoy, please consider helping to <a href="/support">support</a> our mission.</p>
  </br>
  </br>
    <h4 id="contact">CONTACT</h4>
    <p>We can be contacted by email <a href="mailto:info@wheredomytaxesgo.co">here</a>.</p>
  </br>
  </br>
    <h4 id="sources">DATA SOURCE INFORMATION</h4>
    <p>We try and ensure that all information contained on this site is as accurate as possible. To do that, we pull budgets data directly from the budget plans filed by the various federal and state entities and transcribe that information by hand into our own databases. At times, our data may become out of date due to updates made by various governmental entities or simply because we haven't yet updated the code in our calculations. To see the most up to date data that we have found, check out the <a href="/resources">resources</a> page for our sources or to learn more about the governmental budget process.</p>
  </br>
  </br>
    <h4 id="disclaimer">DISCLAIMER</h4>
    <p>We have made every attempt to ensure that information contained on this site is wholly accurate and partisan-agnostic; however, from time to time the data may become outdated or contain errors. Whenever possible, we strive to disclose any errors or inaccuracies that we are aware of either by our own cause or when discovered in third party data. By using this site you agree to hold it's creator and operators harmless of any damages that may arise from the use of this information. Furthermore, this site is not meant to be used in any way, shape, or form to aid tax planning, financial planning, or in any other advisory capacity. The purpose of this website and the information contained herein, is solely to be used for personal entertainment and edification on the governmental budgetary process. It is not meant to be used as a primary data source, and any information contained herein should be fact-checked by an independent third party. For a complete set of terms and conditions governing the use of this site, please read our <a href="/tos">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>.</p>
  </br>
</div>
