<div style="display: block; text-align: center;">
  <div style="text-align: center; !important">
    <h1 style="padding: 1% 0% 1% 0%;">BLOG</h1>
    <hr style="width: 33%;">
  </div>

  <div style="width: 95%; text-align: left; padding: 2%;">
    <img src="/capitol_2.jpg" width="100%" style="padding-bottom: 2%;"/>
    </br>
    </br>
    <h4>March 1st, 2019: Where Do My Taxes Go? Adds Transparency to State Taxes Along with Federal Tax Data</h4>
    </br>
    <p>Of the two certainties in life, taxes are arguably the worst. Each year, millions of Americans file their taxes, uncertain how much their tax return might be… if they receive one at all. 2018's tax reform only served to make the entire process even more opaque and frustrating, with many families believing that they would be better off - only to find that they got less than previous years, or even owed the government money.</p>
    </br>
    <p>“There’s no question that American government at all levels is better off for the open-door and open-record reforms of the past half-century,” former Indiana governor Mitch Daniels said in a 2018 Op-Ed for the Washington Post (<a href="https://www.washingtonpost.com/opinions/government-transparency-has-gone-too-far/2018/08/13/5c66b902-905c-11e8-8322-b5482bf5e0f5_story.html">source</a>). “Knowing that the public is watching, public officials generally behave more responsibly in the conduct of their duties.”</p>
    </br>
    <p>"Beyond just enouraging politicians to behave more responsibly," says founder Jacob Whitish, "it's just frustrating to know that the government is taking so much from us without any window into how that money is being spent. If I were to ask the government for a small business loan, they'd expect that I report back exactly how the money is being used. Why doesn't it work the other way?"</p>
    </br>
    <p>With this in mind, Where Do My Taxes Go? (<a href="/">wheredomytaxesgo.co</a>) aims to bring greater transparency to the U.S. tax system through an easy-to-use website, which was initially launched in late 2018 and now updated for the new 2019 Federal Budget as well as adding new State-level budget data. Users can anonymously enter their pre-tax income, state of filing, and tax status (single or joint filing) and with one click receive a comprehensive breakdown of the many federal departments and line items that their taxes pay for.</p>
    </br>
    <p>New for the 2019 tax season, Where Do My Taxes Go? has added additional transparency at the state level. Residents filing in California, Illinois, New York, and Pennsylvania can now receive an additional breakdown of how their state taxes will be spent. Residents of Florida, Texas, and Washington have no state income tax, so their federal results represent their total tax burden but the general breakdown of their state-level budgets will still be displayed. New states will be added throughout 2019 to prepare for the 2020 tax season and presidential election.</p>
    </br>
    <p>“In today’s political climate, taxes are a contentious topic,” says founder Jacob Whitish. “It doesn’t matter which side of the aisle you’re on or which party you vote for. Having a better understanding of how the government spends each dollar we contribute through taxes helps us hold all of our elected representatives accountable and improves the quality of governance at every level. They take our hard earned dollars, it’s only fair that we know how they get spent.”</p>
    </br>
    <p>For the data-curious, the site has also added a new <a href="/explore">Explore</a> page that shows a map of the US and how many queries have been submitted from each state.</p>
    </br>
    <p>Curious where your taxes go? Visit wheredomytaxesgo.co to discover how much you’re paying toward National Defense, Social Security, Disaster Relief, and more.</p>
    </br>
    </br>
    <p>***</p>
    </br>
    <p>Where Do My Taxes Go? was founded in 2018 to provide greater transparency to the U.S. tax system. Users can anonymously enter income data and receive a breakdown of their federal and state taxes to the penny.</p>
  </div>
</div>
