<div style="text-align: center; padding: 0% 10% 0% 10%;">
  <h1>🎉 Thank you! 🎉</h1>
  </br>
  <iframe src="https://giphy.com/embed/5GoVLqeAOo6PK" width="240" height="187" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p style="font-size: 8px;"><a href="https://giphy.com/gifs/excited-screaming-jonah-hill-5GoVLqeAOo6PK">via GIPHY</a></p>
  </br>
  <p>We are truly excited that you have chosen to help support <em>Where Do My Taxes Go?</em></br>Your contribution will help us to stay online and bring transparency to the </br>governmental budgetary process.</p>
  </br>
  </br>
  <h4>Want to get involved in other ways?</h4>
  <p>We need help from dedicated people to keep things running! From technical talent to passionate individuals who like watching for updates coming out of government, if it's your thing, we'd love to talk with you! <a href="mailto:info@wheredomytaxesgo.co">Get in touch</a> and let us know how you'd like to get involved. We look forward to hearing from you!</p>
  </br>
  <p><a href="/">Back to the Homepage</a> or <a href="/results"> Back to Your Results</a></p>
</br>
</div>
