<div style="display:block; width: 65%; padding-left: 17%;">
  <form action="your-server-side-code" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_34yReb43vmwBPjeU6jf0qeXl"
      data-amount="499"
      data-name="Where Do My Taxes Go?"
      data-description="Example charge"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto"
      data-zip-code="true"
      data-label="Donate">
    </script>
  </form>
</div>
