

    <h1>Just a collection of small ruby apps</br> living on the web with Sinatra.</h1>
  </br>
    <p>
      <span style="margin-right: 7%;"><a href="/hangman">Hangman</a></span>
      <span style="margin-right: 7%;"><a href="/caesar_cipher">Caesar Cipher</a></span>
      <span style="margin-right: 7%;"><a href="/ip_location">What's my IP?</a></span>
      <span><a href="/mortgage_calc">Mortgage Calculator</a></span></p>
    
