<DOCTYPE! html>
<html>
  <head>
    <title>Where do my taxes go?</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <ul class="nav">
      <li class="nav"><a href="/">Home</a></li>
    </ul>
    <div class="main">
      <%= yield %>
    </div>
  </body>
  <footer>
    <p>Copyright &copy; 2018 Where Do My Taxes Go? -  Oakland, CA 94606 USA</p>
  </footer>
</html>
