<DOCTYPE! html>
<html>
  <head>
    <title>Where do my taxes go?</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <span><a id="logo" href="/">WDMTG?</a></span>
      <span style="float: right;"><a href="/">HOME</a>
      <a href="/about">ABOUT</a></span>
    </nav>
    <div class="main">
      <%= yield %>
    </div>
  </body>
  <footer>
    <p>Copyright &copy; 2018 Where Do My Taxes Go? -  Oakland, CA 94606 USA</p>
  </footer>
</html>
