<DOCTYPE! html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32358875-8"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-32358875-8');
  </script>
  <!-- Google Analytics end -->
  <!-- Google Adsense begin -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6641086355462686",
    enable_page_level_ads: true
  });
  </script>
  <!-- Google Adsense end -->
  <!-- Stylesheets begin-->
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="style_sidebar.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#9f00a7">
  <meta name="theme-color" content="#ffffff">
  <!-- Stylesheets end-->
  <!-- Metadata begin -->
  <title>Where do my taxes go?</title>
  <meta property="og:title" content="Where Do My Taxes Go?">
  <meta property="og:description" content="Answering the question 'Where do my taxes go?' once and for all.">
  <meta property="og:image" content="https://www.wheredomytaxesgo.co/capitol_2.jpg">
  <meta property="og:url" content="https://www.wheredomytaxesgo.co/">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="Where Do My Taxes Go?">
  <meta name="twitter:image:alt" content="Have you ever wondered where your tax money goes?">
  <meta name="description" content="A friendly debate eventually led to this site that finally answers the question: Where Do My Taxes Go?">
  <!-- Metadata end -->
  <!-- Cookie Consent begin-->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#0b98de"
        },
        "button": {
          "background": "transparent",
          "text": "#fff",
          "border": "#fff"
        }
      }
    })});
    </script>
    <!-- Cookie Consent END -->
</head>
  <div class="grid">
    <body>
      <div class="box a">
        <nav>
          <span><a id="logo" href="/"><img src="/logo.png" style="height: 38px;"/></a></span>
          <span style="float: right; margin-right: 10%;"><a href="/">HOME</a> <a href="/resources">RESOURCES</a>
            <a href="/about">ABOUT</a> <a href="/support">SUPPORT US</a></span>
        </nav>
      </div>
      <div class="box b">
        <%= yield %>
      </div>
      <div class="box c">
        <p>Test</p>
      </div>
    </body>
    <div class="box d">
      <footer>
        <div>
          <!-- AddToAny BEGIN -->
          <div style="text-align: center;">
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="display: inline-block;">
              <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
              <a class="a2a_button_facebook"></a>
              <a class="a2a_button_twitter"></a>
              <a class="a2a_button_linkedin"></a>
              <a class="a2a_button_reddit"></a>
              <a class="a2a_button_whatsapp"></a>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
          </div>
          <!-- AddToAny END -->
          <p style="margin-bottom: 0px;">Copyright &copy; 2018 Where Do My Taxes Go? -  Virtual Summit Media, LLC</p>
          <p style="margin-top: 2px; margin-bottom: 1%;"><a href="/tos">Terms of Service</a> | <a href="/privacy">Privacy Policy</a> | <a href="/about#disclaimer">Disclaimer</a> | <a href="/about#sources">Data Sources</a> | <a href="/support">Support</a></p>
        </div>
      </footer>
    </div>
  </div>
</html>
