<DOCTYPE! html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32358875-8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-32358875-8');
    </script>
    <title>Where do my taxes go?</title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
    <!-- Cookie Consent BEGIN -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#0b98de"
        },
        "button": {
          "background": "transparent",
          "text": "#fff",
          "border": "#fff"
        }
      }
    })});
    </script>
    <!-- Cookie Consent END -->
  </head>
  <body>
    <nav>
      <span><a id="logo" href="/">WDMTG?</a></span>
      <span style="float: right; margin-right: 10%;"><a href="/">HOME</a> <a href="/resources">RESOURCES</a>
      <a href="/about">ABOUT</a> <a href="/support">SUPPORT US</a></span>
    </nav>
    <div class="main" style="padding-top: 50px; min-height: 100%;">
      <%= yield %>
    </div>
    <!-- AddToAny BEGIN -->
    <div style="text-align: center;">
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="display: inline-block;">
        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_linkedin"></a>
        <a class="a2a_button_reddit"></a>
        <a class="a2a_button_whatsapp"></a>
      </div>
      <script async src="https://static.addtoany.com/menu/page.js"></script>
    </div>
    <!-- AddToAny END -->
  </body>
  <footer>
    <div>
    <p style="margin-bottom: 0px;">Copyright &copy; 2018 Where Do My Taxes Go? -  Virtual Summit Media, LLC</p>
    <p style="margin-top: 2px; margin-bottom: 2px;"><a href="/tos">Terms of Service</a> | <a href="/privacy">Privacy Policy</a> | <a href="/about#disclaimer">Disclaimer</a> | <a href="/about#sources">Data Sources</a> | <a href="/support">Support</a></p>
    </div>
  </footer>
</html>
