<DOCTYPE! html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32358875-8"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-32358875-8');
  </script>
  <!-- Google Analytics end -->
  <!-- Google Adsense begin -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6641086355462686",
      enable_page_level_ads: true
    });
  </script>
  <!-- Google Adsense end -->
  <!-- Stylesheets begin-->
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="style_sidebar.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <!-- Favicons -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#9f00a7">
  <meta name="theme-color" content="#ffffff">
  <!-- Stylesheets end-->
  <!-- Metadata begin -->
  <title>Where do my taxes go?</title>
  <meta property="og:title" content="Where Do My Taxes Go?">
  <meta property="og:description" content="Answering the question 'Where do my taxes go?' once and for all.">
  <meta property="og:image" content="https://www.wheredomytaxesgo.co/capitol_2.jpg">
  <meta property="og:url" content="https://www.wheredomytaxesgo.co/">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="Where Do My Taxes Go?">
  <meta name="twitter:image:alt" content="Have you ever wondered where your tax money goes?">
  <meta name="description" content="A friendly debate eventually led to this site that finally answers the question: Where Do My Taxes Go?">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Metadata end -->
  <!-- Cookie Consent begin-->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#0b98de"
        },
        "button": {
          "background": "transparent",
          "text": "#fff",
          "border": "#fff"
        }
      }
    })});
    </script>
    <!-- Cookie Consent END -->
</head>
  <div class="grid">
    <body>
      <div class="box a">
        <nav>
          <span><a id="logo" href="/"><img src="/logo.png" style="height: 38px;"/></a></span>
          <span style="float: right; margin-right: 10%;"><a href="/">HOME</a> <a href="/resources">RESOURCES</a>
            <a href="/about">ABOUT</a> <a href="/support">SUPPORT US</a></span>
        </nav>
      </div>
      <div class="box b">
        <%= yield %>
      </div>
      <div class="box c"> <!-- sidebar -->
        <div style="text-align: center; background-color: #0b98de; border-radius: 4px; padding-top: 4px; padding-bottom: 4px;">
          <p style="color: white;">Get the Latest Budget Updates Right to Your Inbox</p>
        </div>
          <div style="text-align: center; padding-bottom: 10px;">
            <!--Begin mc_embed_signup-->
            <div style="margin: 0 auto 0 auto; padding: 0;">
              <form action="https://wheredomytaxesgo.us19.list-manage.com/subscribe/post?u=8dd237449b9bd70e54d9b65d9&amp;id=73b804aa2a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_8dd237449b9bd70e54d9b65d9_73b804aa2a" tabindex="-1" value="">
                </div>
              </br>
              <!-- This is the good stuff -->
                <div>
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="width: 100%; margin-bottom: 8px; height: 18px;" placeholder="Email address" required>
                </br>
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="padding: 4px; margin 8px;">
                </div>
              </form>
            </div>
              <!--End mc_embed_signup-->
          </div>
        </br>
        </br>
          <div style="text-align: center; padding-bottom: 10px;">
            <!-- Rock the Vote -->
            <a href="https://register.rockthevote.com/?partner=37820&source=embed-rtv100x100v2">
            <img src="http://vr.rockthevote.com/images/widget/rtv-100x100-v2.gif" />
            </a>
            <!-- End Rock the Vote -->
          </div>
      </div>
      <script>
        // Run after all the page elements have loaded
        window.onload = function(){
        // This will take care of asynchronous Google ads
          setTimeout(function() {
            // We are targeting the first banner ad of AdSense
            var ad = document.querySelector("ins.adsbygoogle");
            // If the ad contains no innerHTML, ad blockers are at work
            if (ad && ad.innerHTML.replace(/\s/g, "").length == 0) {
              // Since ad blocks hide ads using CSS too
              ad.style.cssText = 'display:block !important';
              // You can put any text, image or even IFRAME tags here
              ad.innerHTML = '<p><a href="/support">This site is supported by ads and by generous donors like you. </br> Please consider supporting this site in lieu of turning off your ad blocker. Thank you!</a></p>';
            }
          }, 2000); // The ad blocker check is performed 2 seconds after the page load
        };
      </script>
    </body>
    <div class="box d">
      <footer>
        <div>
          <!-- AddToAny BEGIN -->
          <div style="text-align: center;">
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="display: inline-block;">
              <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
              <a class="a2a_button_facebook"></a>
              <a class="a2a_button_twitter"></a>
              <a class="a2a_button_linkedin"></a>
              <a class="a2a_button_reddit"></a>
              <a class="a2a_button_whatsapp"></a>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
          </div>
          <!-- AddToAny END -->
          <p style="margin-bottom: 0px;">Copyright &copy; 2018 Where Do My Taxes Go? -  Virtual Summit Media, LLC</p>
          <p style="margin-top: 2px; margin-bottom: 1%;"><a href="/tos">Terms of Service</a> | <a href="/privacy">Privacy Policy</a> | <a href="/about#disclaimer">Disclaimer</a> | <a href="/about#sources">Data Sources</a> | <a href="/support">Support</a> | <a href="/vote"> Register to Vote </a></p>
        </div>
      </footer>
    </div>
  </div>
</html>
