<h1>Media Center</h1>
<p>For all media inqueries, please contact: hello@wheredomytaxesgo.co</p>
<div class="main" style="padding-top: 0%;">
</br>
  <div style="background-color: #0b98de;">
    <h2 style="color: #fff;">Select Media Mentions</h2>
  </div>

  <div class="card">
    <a href="https://lifehacker.com/learn-where-every-penny-of-your-taxes-go-with-this-site-1830201711" target="_blank">
    <img src="lh.png" alt="Lifehacker" style="width:100%">
    <div class="card_container">
      <h4><b>Lifehacker</b></h4>
      <p>"Learn Where Every Penny of Your Taxes Go With This Site"</p>
    </div>
    </a>
  </div>

  <div class="card">
    <a href="https://www.producthunt.com/posts/where-do-my-taxes-go" target="_blank">
    <img src="ph.png" alt="Product Hunt" style="width:100%">
    <div class="card_container">
      <h4><b>Product Hunt</b></h4>
      <p>"This Site Easily Shows How Much of Your Tax Money Goes to Each Government Dept"</p>
    </div>
    </a>
  </div>

  <div class="card">
    <a href="https://www.komando.com/cool-sites/504336/find-out-where-your-tax-dollars-are-spent" target="_blank">
    <img src="kk.png" alt="Kim Komando" style="width:100%">
    <div class="card_container">
      <h4><b>Kim Komando</b></h4>
      <p>"Where Do Your Taxes Go? Find Out With This Site"</p>
    </div>
    </a>
  </div>

  <div class="card">
    <a href="https://www.simplemost.com/this-site-tells-you-exactly-where-all-of-your-taxes-go/" target="_blank">
    <img src="sm.png" alt="Simplemost" style="width:100%">
    <div class="card_container">
      <h4><b>Simplemost</b></h4>
      <p>"This Site Tells You Exactly Where All Your Taxes Go"</p>
    </div>
    </a>
  </div>

  <div class="card">
    <a href="https://www.taxbuzz.com/blog/calculate-taxes-share-of-budget" target="_blank">
    <img src="tb.png" alt="Tax Buzz" style="width:100%">
    <div class="card_container">
      <h4><b>Tax Buzz</b></h4>
      <p>"Have You Ever Wondered Where Your Tax Money Goes?"</p>
    </div>
   </a>
  </div>

  <div class="card">
    <a href="https://napavalleyregister.com/lifestyles/simplemost/this-site-tells-you-exactly-where-all-of-your-taxes/article_660914ae-0735-516f-bdcd-3d88ce027a98.html" target="_blank">
    <img src="nvr.png" alt="Napa Valley Register" style="width:100%">
    <div class="card_container">
      <h4><b>Napa Valley Register</b></h4>
      <p>"This Site Tells You Exactly Where All Your Taxes Go"</p>
    </div>
   </a>
  </div>

  <div style="background-color: #0b98de;">
    <h2 style="color: #fff;">Press Releases</h2>
  </div>

  <div class="card">
    <a href="/pr-02-2019.pdf" target="_blank">
    <img src="logo.png" alt="Avatar" style="width:100%">
    <div class="card_container">
      <h4><b>Press Release 1</b></h4>
      <p>03/01/2019</p>
    </div>
    </a>
  </div>

  <div style="background-color: #0b98de;">
    <h2 style="color: #fff;">Media Kit</h2>
  </div>

  <div class="card">
    <a href="logo.png" download>
    <img src="logo.png" alt="wdmtg logo" style="width:100%">
    <div class="card_container">
      <h4><b>PNG Logo</b></h4>
      <p>Square - 471x471px</p>
    </div>
   </a>
  </div>
  <div class="card">
    <a href="wdmtg.gif" download>
    <img src="wdmtg-square.gif" alt="wdmtg gif" style="width:100%;">
    <div class="card_container">
      <h4><b>GIF Functionality</b></h4>
      <p>Rectangle - 1280x800px</p>
    </div>
   </a>
  </div>
  <div class="card">
    <a href="wdmtg-home.png" download>
    <img src="home.png" alt="wdmtg logo" style="width:100%">
    <div class="card_container">
      <h4><b>PNG Home Screenshot</b></h4>
      <p>Screenshot - 2560x1276px</p>
    </div>
   </a>
  </div>
  <div class="card">
    <a href="wdmtg-results.png" download>
    <img src="res.png" alt="wdmtg logo" style="width:100%">
    <div class="card_container">
      <h4><b>PNG Results Screenshot</b></h4>
      <p>Screenshot - 2560x1276px</p>
    </div>
   </a>
  </div>

</div>
