<h1>RESOURCES</h1>
<hr style="width: 33%;">
<p><a href="/resources#federal">Federal Resources</a> | <a href="/resources#state">State Resources</a> | <a href="/resources#process">How the Process Works</a> | <a href="/resources#submit">Submit a Resource</a></p>
</br>
<div style="display:block; width: 65%; padding-left: 17%; text-align: left;">
  <h4 id="federal">FEDERAL RESOURCES</h4>
  <p><a href="https://www.whitehouse.gov/wp-content/uploads/2018/02/budget-fy2019.pdf" target="_blank">Proposed 2019 Federal Budget</a></p>
  <p><a href="http://www.crfb.org/blogs/appropriations-watch-fy-2019" target="_blank">CRFB Appropriations Watch</a></p>
  <p><a href="https://www.cbo.gov/publication/53623" target="_blank">Congressional Budget Office 2017 Budget Infographics</a></p>
  <p><a href="https://www.senate.gov/CRSpubs/9c14ec69-c4e4-4bd8-8953-f73daa1640e4.pdf" target="_blank">Congressional Salaries, Benefits, and Allowances</a></p>
  <p><a href="https://www.cbpp.org/research/policy-basics-introduction-to-the-federal-budget-process" target="_blank">Additional Information on the Federal Budget Process</a></p>
</br>
  <h4 id="state">STATE RESOURCES</h4>
  <p><a href="https://en.wikipedia.org/wiki/List_of_U.S._state_budgets" target="_blank">Wikipedia List of State Budgets</a></p>
  <p><a href="https://www.nasbo.org/mainsite/resources/proposed-enacted-budgets" target="_blank">NASBO List of State Budgets</a></p>
</br>
  <h4 id="process">HOW THE BUDGET PROCESS WORKS</h4>
  <p>Any discussion of the federal budget process really needs to first address that there are two ways to talk about the budgetary process: the way that it <em>should</em> should work, and the way that it <em>actually</em> works. It's also worth mentioning that the formal federal budget process has evolved over time since it wasn't explicitly laid out in the constitution. The part that was laid out simply said that congress has budgetary power for the government, but it neglected (by design or by intention) to spell out just exactly how they were to actually do that.  Over time, Congress has enacted various laws that gradually shaped the process and created various governmental departments, such as the Office of Management and Budget and the Congressional Budget Office, to help manage the budget.</p>
  <p>So what does the process look like these days?</p>
  <h4>Congressional Authorization</h4>
  <p>First up is the appropriations process. This is the formal authorization by congress (by way of an 'authorization bill') that gives the government the legal power to create a budget and spend money. Usually this authorization will be for multiple-year periods so that it doesn't need to happen each and every year. Authorization bills also do one other thing, which is to allow the spending on mandatory programs such as social security which are not part of the formal appropriations  process.</p>
  <h4>The President's Budget Request</h4>
  <p>Next up is the President's budget request which is sent to congress to review. This is sent each February and covers the following fiscal year which begins in October. This request will lay out the President's over all fiscal policy and how they think the federal budget should be allocated. This usually covers the next ten years and will give a clear window into how the President plans to address various departments in the coming years. If there are to be large tax policy changes, this is also laid out in the budget request.</p>
  <h4>Congressional Review</h4>
  <p>Once the President has submitted their budget request, both the House and Senate Committees on the Budget will review the request and then write and vote on their own budget resolutions. Once those committees pass their own versions of the budget resolution, it goes to the floor of their respective bodies for a vote where additional ammendments can be made by majority vote. Once that is done, a House-Senate Conference attempts to resolve any differences between the two versions and they send the newly merged 'Conference Report' back to the two houses for a final vote. If the vote passes, then the budget resolution will be adopted for the upcoming fiscal year.</p>
  <p>In theory this should be completed by April 15th, but often this deadline is missed and in many years no resolution is passed at all. In the latter case, if no resolution is passed then the previous year's resolution remains in effect since each resolution is considered to be a multi-year plan and special procedures are adopted to set spending levels.</p>
  <p>Due to the unique nature of the process where both houses simultaneously discuss and vote, the budget resolution is one of the few pieces of legislation that does not allow a Presidential signature or veto, only requires a majority vote, and generally cannot be filibustered in Senate.</p>
  <h4>Appropriations</h4>
  <p>Just when you thought we were done... Next up is the actual budget legislation. Once a resolution is in place, Congress must create appropriations bills to actually fund the programs  and enact changes in spending or revenue as outlined in the budget resolution. In order to ensure that the budget is strictly enforced as set out in the budget resolution, any single member of the house or senate is empowered to block legislation by raising a 'point of order' on the floor. In the House, this has not been important in recent years because a simple majority vote can waive the point of order, but in the Senate no less than 60 votes (out of 100) are required which is much more difficult to achieve.</p>
  <h4>Reconciliation</h4>
  <p>In the event that the House and Senate aren't able to quickly achieve an agreement on the appropriations bills, they may from time to time use a special procedure called the reconciliation process to expedite the appropriations bills. During this process, the various committees will be given a mandate to hit a certain spending target in their proposed bill by a certain date. The budget committee packages all of these reconciliation bills together into one large bill that goes to the floor for a yes/no vote with very few opportunities to ammend.</p>
  <p>Originally this was created as a defecit-reduction tool, however it has been used several times in recent history to enact tax cuts which increase the national defecit. Reconciliation bills are also special, much like the original budget resolution, in that they cannot be filibistered and only require a majority vote to pass.</p>
  <h4>Passage into Law</h4>
  <p>Once the full House and Senate debate and vote on appropriations bills from all 12 subcommittees, each one is sent to the President to sign and enact into law. Once all 12 bills are signed by the President, the federal budget process is complete.</p>
  <h4>What happens if this process isn't completed by October?</h4>
  <p>It rarely is. In this case, the President must pass a 'Continuing Resolution' which provides emergency funding to keep the government operating until a proper budget is enacted. If either the President or Congress in unable or refuses to sign the continuing resolution, then government must shut down until such legislation is enacted to provide the necessary funding. If congress is unable to agree on 12 separate funding bills, they will sometimes resort to a single 'omnibus bill' which will encompass all 12 areas of funding under a single simplified bill.</p>
</br>
  <h4 id="submit">SUBMIT A RESOURCE</h4>
  <p>Want us to add a resource to this page? We're happy to include any non-partisan, factual resources that help educate the general public on the Federal and State budgetary processes or increase transparency on governmental spending. Just drop us a line <a href="mailto:info@wheredomytaxesgo.co">here</a> with the resource and why you think it should be included.</p>
</br>
</div>
