<h1>RESOURCES</h1>
<hr style="width: 33%;">
<div style="display:block; width: 65%; padding-left: 17%; text-align: left;">
  <h4>FEDERAL</h4>
  <p><a href="https://www.whitehouse.gov/wp-content/uploads/2018/02/budget-fy2019.pdf" target="_blank">Proposed 2019 Federal Budget</a></p>
  <p><a href="http://www.crfb.org/blogs/appropriations-watch-fy-2019" target="_blank">CRFB Appropriations Watch</a></p>
  <p><a href="https://www.cbo.gov/publication/53623" target="_blank">Congressional Budget Office 2017 Budget Infographics</a></p>
</br>
  <h4>STATE</h4>
  <p><a href="https://en.wikipedia.org/wiki/List_of_U.S._state_budgets" target="_blank">Wikipedia List of State Budgets</a></p>
  <p><a href="https://www.nasbo.org/mainsite/resources/proposed-enacted-budgets" target="_blank">NASBO List of State Budgets</a></p>
</br>
  <h4>HOW THE BUDGET PROCESS WORKS</h4>
  <p>text</p>
</div>
