<h1>RESOURCES</h1>
</br>
<p><a href="https://www.whitehouse.gov/wp-content/uploads/2018/02/budget-fy2019.pdf" target="_blank">Proposed 2019 Federal Budget</a></p>
<p><a href="http://www.crfb.org/blogs/appropriations-watch-fy-2019" target="_blank">CRFB Appropriations Watch</a></p>
<p><a href="https://www.cbo.gov/publication/53623" target="_blank">Congressional Budget Office 2017 Budget Infographics</a></p>
