<h1>Where Do My Taxes Go?</h1>
</br>
<div id="results">
  <p>Based on the information you entered, your annual tax obligation before deductions is around: $10,000. </p>
  <p>According to our calculations, this would break down as follows:</p>
  <table>
    <tr>
      <th style="width: 200px;">Budget Item</th>
      <th style="width: 50px;">(%)</th>
      <th style="width: 200px;">Your Contribution</th>
    </tr>
    <tr>
      <td>Item 1</td>
      <td>5</td>
      <td>$4</td>
    </tr>
    <tr>
      <td>Item 2</td>
      <td>7</td>
      <td>$9</td>
    </tr>
    <tr>
      <td>Item 3</td>
      <td>23</td>
      <td>$500</td>
    </tr>
  </table>
  </br>
  <form action="/" method="get">
    <input class='button' type='submit' value='Start Over' name='button'/>
  </form>
</div>
