<div style="display:block; width: 65%; padding-left: 17%;">
  <h1>Thank you!</h1>
  <p>We are truly grateful that you have chosen to help support Where Do My Taxes Go?</br>Your contribution has helped us to stay online and bring transparency to the </br>governmental budgetary process.</p>
</br>
  <p><a href="/">Back to the Homepage</a></p>
</div>
