<div style="display:block; width: 65%; padding-left: 17%;">
  <h1>SUPPORT</h1>
  <table class="donate" style="padding-bottom: 0px;">
    <tr class="donate">
      <th class="donate" style="width: 100px;">$1</th>
      <th class="donate" style="width: 100px;">$5</th>
      <th class="donate" style="width: 100px;">$10</th>
      <th class="donate" style="width: 100px;">$15</th>
    </tr>
    <tr class="donate">
      <td class="donate"><form action="/charge1" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_34yReb43vmwBPjeU6jf0qeXl"
          data-amount="100"
          data-name="Where Do My Taxes Go?"
          data-description="Example charge"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-zip-code="true"
          data-label="Donate">
        </script>
      </form></td>
      <td class="donate"><form action="/charge5" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_34yReb43vmwBPjeU6jf0qeXl"
            data-amount="500"
            data-name="Where Do My Taxes Go?"
            data-description="Example charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true"
            data-label="Donate">
          </script>
        </form></td>
      <td class="donate"><form action="/charge10" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_34yReb43vmwBPjeU6jf0qeXl"
            data-amount="1000"
            data-name="Where Do My Taxes Go?"
            data-description="Example charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true"
            data-label="Donate">
          </script>
        </form></td>
      <td class="donate"><form action="/charge15" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_34yReb43vmwBPjeU6jf0qeXl"
            data-amount="1500"
            data-name="Where Do My Taxes Go?"
            data-description="Example charge"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true"
            data-label="Donate">
          </script>
        </form></td>
    </tr>
  </table>
  <p><a href="mailto:info@wheredomytaxesgo.co">Contact us</a> if you would like to give a different amount.</p>
</div>
