<div id="supt">
  <h1 style="padding: 1% 0% 1% 0%;">SUPPORT</h1>
  <hr style="width: 33%; text-align: center; !important">
    <p style="padding-bottom: 30px;">If you support transparency in government and holding your elected officials accountable for what they spend your hard-earned tax dollars on, then please consider supporting this project. We are entirely supported by volunteers and benefactors like you who make all this possible.</p>
  <table class="donate" style="padding-bottom: 0px;">
    <tr class="donate">
      <th class="donate" style="width: 100px;">$1</th>
      <th class="donate" style="width: 100px;">$5</th>
      <th class="donate" style="width: 100px;">$10</th>
      <th class="donate" style="width: 100px;">$15</th>
    </tr>
    <tr class="donate">
      <td class="donate"><form action="/charge1" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_live_TllhOF06M4GU78cS3TXsfX7o"
          data-amount="100"
          data-name="Where Do My Taxes Go?"
          data-description="Donate $1 to keep us running."
          data-image="/capitol_square.png"
          data-locale="auto"
          data-zip-code="true"
          data-label="Donate">
        </script>
      </form></td>
      <td class="donate"><form action="/charge5" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_TllhOF06M4GU78cS3TXsfX7o"
            data-amount="500"
            data-name="Where Do My Taxes Go?"
            data-description="Donate $5 to keep us running."
            data-image="/capitol_square.png"
            data-locale="auto"
            data-zip-code="true"
            data-label="Donate">
          </script>
        </form></td>
      <td class="donate"><form action="/charge10" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_TllhOF06M4GU78cS3TXsfX7o"
            data-amount="1000"
            data-name="Where Do My Taxes Go?"
            data-description="Donate $10 to keep us running."
            data-image="/capitol_square.png"
            data-locale="auto"
            data-zip-code="true"
            data-label="Donate">
          </script>
        </form></td>
      <td class="donate"><form action="/charge15" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_TllhOF06M4GU78cS3TXsfX7o"
            data-amount="1500"
            data-name="Where Do My Taxes Go?"
            data-description="Donate $15 to keep us running."
            data-image="/capitol_square.png"
            data-locale="auto"
            data-zip-code="true"
            data-label="Donate">
          </script>
        </form></td>
    </tr>
    <tr class="donate">
      <th class="donate" style="width: 100px;">$20</th>
      <th class="donate" style="width: 100px;">$30</th>
      <th class="donate" style="width: 100px;">$40</th>
      <th class="donate" style="width: 100px;">$50</th>
    </tr>
    <tr class="donate">
      <td class="donate"><form action="/charge20" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_live_TllhOF06M4GU78cS3TXsfX7o"
          data-amount="2000"
          data-name="Where Do My Taxes Go?"
          data-description="Donate $20 to keep us running."
          data-image="/capitol_square.png"
          data-locale="auto"
          data-zip-code="true"
          data-label="Donate">
        </script>
      </form></td>
      <td class="donate"><form action="/charge30" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_TllhOF06M4GU78cS3TXsfX7o"
            data-amount="3000"
            data-name="Where Do My Taxes Go?"
            data-description="Donate $30 to keep us running."
            data-image="/capitol_square.png"
            data-locale="auto"
            data-zip-code="true"
            data-label="Donate">
          </script>
        </form></td>
      <td class="donate"><form action="/charge40" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_TllhOF06M4GU78cS3TXsfX7o"
            data-amount="4000"
            data-name="Where Do My Taxes Go?"
            data-description="Donate $40 to keep us running."
            data-image="/capitol_square.png"
            data-locale="auto"
            data-zip-code="true"
            data-label="Donate">
          </script>
        </form></td>
      <td class="donate"><form action="/charge50" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_TllhOF06M4GU78cS3TXsfX7o"
            data-amount="5000"
            data-name="Where Do My Taxes Go?"
            data-description="Donate $50 to keep us running."
            data-image="/capitol_square.png"
            data-locale="auto"
            data-zip-code="true"
            data-label="Donate">
          </script>
        </form></td>
    </tr>
  </table>
  <p>Please <a href="mailto:hello@wheredomytaxesgo.co">contact us</a> if you would like to give a different amount.</p>
</br>
  <hr style="width: 33%;">
</br>
  <h4>Want to get involved in other ways?</h4>
  </br>
  <p>We need help from dedicated volunteers to keep things running! From technical talent to passionate individuals who like watching for updates coming out of government, if it's your thing, we'd love to talk with you! </br>Some ideas for other ways to help:
    </br>
    </br>
    <ul style="list-style: none;">
      <li>Quarterly Newsletter Writer</li>
      <li>Blog Writer</li>
      <li>Researcher</li>
      <li>Technical Consultant (Ruby/Sinatra)</li>
      <li>Marketing</li>
    </ul>
  </p>
  </br>
  <p><a href="mailto:hello@wheredomytaxesgo.co">Get in touch</a> and let us know how you'd like to get involved. We look forward to hearing from you!</p>
  </br>
</div>
