<h1>SUPPORT</h1>
<hr style="width: 33%;">
  <div style="display:block; width: 65%; padding-left: 17%; padding-top: 30px;">
  <table class="donate" style="padding-bottom: 0px;">
    <tr class="donate">
      <th class="donate" style="width: 100px;">$1</th>
      <th class="donate" style="width: 100px;">$5</th>
      <th class="donate" style="width: 100px;">$10</th>
      <th class="donate" style="width: 100px;">$15</th>
    </tr>
    <tr class="donate">
      <td class="donate"><form action="/charge1" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_34yReb43vmwBPjeU6jf0qeXl"
          data-amount="100"
          data-name="Where Do My Taxes Go?"
          data-description="Donate $1 to keep us running."
          data-image="/capitol_square.png"
          data-locale="auto"
          data-zip-code="true"
          data-label="Donate">
        </script>
      </form></td>
      <td class="donate"><form action="/charge5" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_34yReb43vmwBPjeU6jf0qeXl"
            data-amount="500"
            data-name="Where Do My Taxes Go?"
            data-description="Donate $5 to keep us running."
            data-image="/capitol_square.png"
            data-locale="auto"
            data-zip-code="true"
            data-label="Donate">
          </script>
        </form></td>
      <td class="donate"><form action="/charge10" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_34yReb43vmwBPjeU6jf0qeXl"
            data-amount="1000"
            data-name="Where Do My Taxes Go?"
            data-description="Donate $10 to keep us running."
            data-image="/capitol_square.png"
            data-locale="auto"
            data-zip-code="true"
            data-label="Donate">
          </script>
        </form></td>
      <td class="donate"><form action="/charge15" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_34yReb43vmwBPjeU6jf0qeXl"
            data-amount="1500"
            data-name="Where Do My Taxes Go?"
            data-description="Donate $15 to keep us running."
            data-image="/capitol_square.png"
            data-locale="auto"
            data-zip-code="true"
            data-label="Donate">
          </script>
        </form></td>
    </tr>
  </table>
  <p><a href="mailto:info@wheredomytaxesgo.co">Contact us</a> if you would like to give a different amount.</p>
</br>
  <hr style="width: 33%;">
</br>
  <h4>Want to get involved in other ways?</h4>
  <p>We need help from dedicated volunteers to keep things running! From technical talent to passionate individuals who like watching for updates coming out of government, if it's your thing, we'd love to talk with you! Some ideas for other ways to help:
    <ul style="list-style: none;">
      <li>Quarterly Newsletter Writer</li>
      <li>Blog Writer</li>
      <li>Researcher</li>
      <li>Technical Consultant (Ruby/Sinatra)</li>
      <li>Marketing</li>
    </ul>
  </p>
  <p><a href="mailto:info@wheredomytaxesgo.co">Get in touch</a> and let us know how you'd like to get involved. We look forward to hearing from you!</p>
</div>
