* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  border: 0px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 5% 35% 35% 5% 20%;
  grid-template-rows: 7% auto 55px;
  grid-row-gap: 0%;
  grid-column-gap: 0%;
}

.box {
  background-color: white;
  border-radius: 0px;
  border: 0px;
}

.a {
  grid-column-start: 1;
  grid-column-end: span 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

.b {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 2;
  grid-row-end: 2;
  padding: 2% 5% 2% 0%;
}

.c {
  grid-column-start: 5;
  grid-column-end: span 5;
  grid-row-start: 2;
  grid-row-end: 2;
  border-left: 1px solid lightgray;
  padding: 10%;
}

.d {
  grid-column-start: 1;
  grid-column-end: span 5;
  grid-row-start: 3;
  grid-row-end: 3;
  border-top: 1px solid lightgray;
  padding: 10px;
}
