* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
}

h4 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

a {
  color: black;
  font-family: 'Lato', sans-serif;
}

ul {
  font-family: 'Lato', sans-serif;
}

input {
  text-align: center;
}

body {
  height: 100%;
}

footer {
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-color: lightgray;
  position: relative;
  bottom: 1%;
  width: 100%;
  height: 50px;   /* Height of the footer */
}

nav {
  width:100%;
  height: 7%;
  background-color: #0b98de;
  overflow: hidden;
  position: absolute;
}

nav a {
  display: block;
  float:left;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  color: white;
  border: 0px solid #000;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #17b0cf;
}

table, th, td {
    border: 1px solid lightgray;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    font-family: 'Lato', sans-serif;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table {
  border-spacing: 0px;
}

/* Classes */

.donate {
  border: 0 !important;
  background-color: #ffffff !important;
  padding-bottom: 20px;
}

.item {
  text-align: left;
}

.main {
  min-height: 100%;
  width: 75%;
  padding: 5% 5% 5% 5%;
  text-align: center;
  float: left;
}

.sidebar {
  min-height: 100%;
  width: 20%;
  margin-left: 5%;
  text-align: center;
  border-left: 2px solid lightgray;
  float: right;
}

.button {
  height: 30px;
  width: 100px;
  border-radius: 100px;
  font-size: 18px;
  font-style: strong;
  background-color: #0b98de;
  color: white;
}

.button:hover {
  background-color: #17b0cf;
}

/* IDs */

#res_abt {
  display:block;
  text-align: left;
}

#supt {
  display: block;
  text-align: center;
}

#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px 'Lato',Arial,sans-serif;
  display:block;
  width: 65% !important;
  padding-left: 0%;
  padding-top: 3%;
  text-align: center;
}

#logo {
  /*font*/
   font-family: 'Hind', sans-serif;
   font-size: 30px;
   letter-spacing: -2px;
   text-shadow: 1px 1px 2px #c4c4c4;
 /*box*/
   padding-left: 20px;
   padding-right: 30px;
   padding-bottom: 4px;
   padding-top: 3px;
   margin-right: 10px;
   margin-top: 0px;
}








/* Testing */
.grid {
  border: 0px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 5% 35% 35% 5% 20%;
  grid-template-rows: 7% auto 55px;
  grid-row-gap: 0%;
  grid-column-gap: 0%;
}

.box {
  background-color: white;
  border-radius: 0px;
  border: 0px;
}

.a {
  grid-column-start: 1;
  grid-column-end: span 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

.b {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 2;
  grid-row-end: 2;
  padding: 2% 5% 2% 0%;
}

.c {
  grid-column-start: 5;
  grid-column-end: span 5;
  grid-row-start: 2;
  grid-row-end: 2;
  border-left: 1px solid lightgray;
  padding: 10%;
}

.d {
  grid-column-start: 1;
  grid-column-end: span 5;
  grid-row-start: 3;
  grid-row-end: 3;
  border-top: 1px solid lightgray;
  padding: 10px;
}
