* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

h4 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

a {
  color: black;
  font-family: 'Lato', sans-serif;
}

ul {
  font-family: 'Lato', sans-serif;
}

input {
  text-align: center;
}

body {
  height: 100%;
  width: 100%;
  display: inline-block;
}

footer {
  display: inline-block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-color: lightgray;
  position: relative;
  bottom: 1% !important;
  width: 100%;
  height: 50px;   /* Height of the footer */
  padding-top: 4px;
}

nav {
  width:100%;
  height: 42px;
  background-color: #0b98de;
  overflow: hidden;
  position: absolute;
}

nav a {
  display: block;
  float:left;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  color: white;
  border: 0px solid #000;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #17b0cf;
}

table, th, td {
    border: 1px solid lightgray;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    font-family: 'Lato', sans-serif;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table {
  border-spacing: 0px;
}

hr {
  align: center;
  margin-left: 33%;
  margin-bottom: 8px;
}


/* Classes */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.donate {
  border: 0 !important;
  background-color: #ffffff !important;
  padding-bottom: 20px;
}

.item {
  text-align: left;
}

.main {

  width: 100%;
  padding: 5% 5% 5% 5%;
  text-align: center;
  float: left;
}

.sidebar {
  min-height: 100%;
  width: 20%;
  margin-left: 5%;
  text-align: center;
  border-left: 2px solid lightgray;
  float: right;
}

.button {
  height: 30px;
  width: 100px;
  border-radius: 100px;
  font-size: 18px;
  font-style: strong;
  background-color: #0b98de;
  color: white;
}

.button:hover {
  background-color: #17b0cf;
}

/*Press Page Card*/
.card {
  display: inline-grid;
    margin: 15px;
    width: 175px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card a:link {
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card_container {
    padding: 2px 16px;
}

/*End Classes*/


/* IDs */
#res_abt {
  display:block;
  text-align: left;
}

#supt {
  display: block;
  text-align: center;
}

#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px 'Lato',Arial,sans-serif;
  display:block;
  width: 65% !important;
  padding-left: 0%;
  padding-top: 3%;
  text-align: center;
}

#logo {
  /*font*/
   font-family: 'Hind', sans-serif;
   font-size: 30px;
   letter-spacing: -2px;
   text-shadow: 1px 1px 2px #c4c4c4;
 /*box*/
   padding-left: 20px;
   padding-right: 30px;
   padding-bottom: 4px;
   padding-top: 3px;
   margin-right: 10px;
   margin-top: 0px;
}
/*End IDs*/


/*Mobile*/
@media only screen and (max-width: 600px) {
    .main {
        margin-top: 30%;
    }
    .main-sb {
        margin-top: 75px;
    }
    nav {
      overflow: visible;
      height: auto;
    }
    #logo {
      padding-left: 45%;
    }
    #home_form {
      width: 100%;
      padding: 0px 0px 10px 0px;
    }
    .button {
      width: 120px;
    }
}
/*End mobile*/


/* Custom 404 page */
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Lato', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #0b98de;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #fff;
  background: #17b0cf;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}
/* End 404 */
