h1 {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
}

h4 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

a {
  color: black;
  font-family: 'Lato', sans-serif;
}

ul {
  font-family: 'Lato', sans-serif;
}

input {
  text-align: center;
}

body {
  min-height: 100%;
  height: 100%;
}

footer {
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-color: lightgray;
  position:relative;
  bottom:0px;
  width:100%;
  height:30px;   /* Height of the footer */
}

nav {
  width:100%;
  height: 42px;
  background-color: #0b98de;
  overflow: hidden;
  position: absolute;
}

nav a {
  display: block;
  float:left;
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  color: white;
  border: 0px solid #000;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #17b0cf;
}

#logo {
  /*font*/
   font-family: 'Hind', sans-serif;
   font-size: 30px;
   letter-spacing: -2px;
   text-shadow: 1px 1px 2px #c4c4c4;
 /*box*/
   padding-left: 20px;
   padding-right: 30px;
   padding-bottom: 4px;
   padding-top: 3px;
   margin-right: 10px;
   margin-top: 0px;
}

table, th, td {
    border: 1px solid lightgray;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    font-family: 'Lato', sans-serif;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table {
  border-spacing: 0px;
}

.donate {
  border: 0 !important;
  background-color: #ffffff !important;
  padding-bottom: 20px;
}

.item {
  text-align: left;
}

.main {
  text-align: center;
}

.button {
  height: 30px;
  width: 100px;
  border-radius: 100px;
  font-size: 18px;
  font-style: strong;
  background-color: #0b98de;
  color: white;
}

.button:hover {
  background-color: #17b0cf;
}

#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px 'Lato',Arial,sans-serif;
  display:block;
  width: 65% !important;
  padding-left: 0%;
  padding-top: 3%;
  text-align: center;
}
